{% extends "base/base.html" %}
{% load static %}
{% block head %}
{% load comment_tags %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>News  HTML-5 Template </title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="manifest" href="site.webmanifest">
   <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

   <!-- CSS here -->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/ticker-style.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
{% endblock head %}

{% block content %}
<main>
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{news.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{news.title}}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i>
                           {% for category in news.category.all %}
                           {{ category.name }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i>{{news.author}}</a></li>
                     </ul>
                     <p class="excert">
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower
                     </p>
                     <p>
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower to actually sit through a
                        self-imposed MCSE training. who has the willpower to actually
                     </p>
                     
                     
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     {% comment %} <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p> {% endcomment %}
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  
               </div>
               
               <div class="comments-area">
                  <h4>{{comments.count}} Comment</h4>
               {% for comment in comments %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static 'assets/img/comment/comment_3.png' %}" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{comment.message}}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{comment.name}}</a>
                                    </h5>
                                    <p class="date">{{comment.created_time}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}


               </div>
               <div class="comment-form">
                  <h4>Leave a Comment</h4>
                  <form class="form-contact comment_form" method="post" action="{% url 'news:detail' num=news.id %}" id="commentForm">
                     {% csrf_token %}
                     <div class="row">
                         <div class="col-12">
                             <div class="form-group">
                                 <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Write Comment"></textarea>
                             </div>
                         </div>
                         {% if not user.is_authenticatd %}
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <input class="form-control"  name="name" id="name" type="text" placeholder="Name">
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                        {% else %}
                        <input class="form-control" value='{{ user.username}}' name="name" id="author_name" type="hidden">
                        <input class="form-control" value='{{ user.email }}' name="email" id="email" type="hidden">
                           
                        {% endif %}
                           <div class="form-group">
                                 <input class="form-control" name="subject" id="subject" type="text" placeholder="Subject">
                           </div>
                        </div>
                        <input class="form-control" value='{{ news.id }}' name="post" type="hidden">
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
               </form>


                  
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  
                  {% include "base/search.html" %}

                  {% include "base/category.html" %}

                  {% include "base/recent.html" %}

                  {% include "base/tags.html" %}
                  
                  <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
</main>
{% endblock content %}


   <!-- All JS Custom Plugins Link Here here -->
{% block js %}
   <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
   <!-- Jquery, Popper, Bootstrap -->
   <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
   <script src="{% static './assets/js/popper.min.js' %}"></script>
   <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
   <!-- Jquery Mobile Menu -->
   <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

      <!-- Jquery Slick , Owl-Carousel Plugins -->
   <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
   <script src="{% static './assets/js/slick.min.js' %}"></script>
   <!-- Date Picker -->
   <script src="{% static './assets/js/gijgo.min.js' %}"></script>
   <!-- One Page, Animated-HeadLin -->
   <script src="{% static './assets/js/wow.min.js' %}"></script>
      <script src="{% static './assets/js/animated.headline.js' %}"></script>
   <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

      <!-- Scrollup, nice-select, sticky -->
   <script src="{% static './assets/js/jquery.scrollUp.min.js' %}"></script>
   <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
   <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
   
   <!-- contact js -->
   <script src="{% static './assets/js/contact.js' %}"></script>
   <script src="{% static './assets/js/jquery.form.js' %}"></script>
   <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
   <script src="{% static './assets/js/mail-script.js' %}"></script>
   <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
   
   <!-- Jquery Plugins, main Jquery -->	
   <script src="{% static './assets/js/plugins.js' %}"></script>
   <script src="{% static './assets/js/main.js' %}"></script>
      
</body>
</html>
{% endblock js %}